<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:s="http://jboss.org/schema/seam/taglib"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                template="/WEB-INF/incl/layout/template.xhtml">

    <ui:define name="head">
        <style type="text/css">
            .login-panel {
                border-style: solid;
                border-width: 1px;
                padding: 1px;
                background-color: #FFFFFF;
                border-color: #C4C0B9;
            }

            .login-panel-header {
                background-color: #D4CFC7;
                background-image: url("#{oxAuthConfigurationService.getImgLocation()}/panel_header_bg.png");
                background-position: left top;
                background-repeat: repeat-x;
                border-style: solid;
                border-width: 1px;
                padding: 2px;
                border-color: #D4CFC7;
                color: #000000;
                font-family: Arial, Verdana, sans-serif;
                font-size: 11px;
                font-weight: bold;
            }

            .login-panel-body {
                padding: 10px;
                color: #000000;
                font-family: Arial, Verdana, sans-serif;
                font-size: 13px;
            }

            .info-section, .info {
                font-weight: bold;
            }
            
            .body-section, .login-panel-body {
                font-weight: bold;
            }
            .body-list, .login-panel-body {
                font-weight: normal;
            }
        </style>
    </ui:define>

    <ui:define name="pageTitle">
        <h:outputText value="#{messages['login.pageTitle']}"/>
    </ui:define>

    <ui:define name="body">
	    <div class="login-panel">
	        <div class="login-panel-header">
	            <h:outputText value="Failed to check certificate"/>
	        </div>

	        <div class="login-panel-body">
	            <ui:param name="client" value="#{clientService.getClient(sessionAttributes['client_id'])}" />
	
	            <s:div rendered='#{!empty client.getLogoUri()}'>
	                <h:graphicImage url='#{client.getLogoUri()}'/>
	            </s:div>
	
	            <p class="info-section">
	                <h:outputText value="oxAuth Login error when retrieving user from certificate"/>
	            </p>
	
	            <div class="dialog">
	                <h:panelGrid columns="1" border="0" rowClasses="prop" columnClasses="value">
	                    <p></p>
	                    <p class="body-section">Your certificate was recognized by SSO and is a valid login, but does not match the user you used to login.</p>

	                    <p></p>
	                    <p class="body-section">Note: Internet Explorer and Mozilla Firefox allow to clear the SSL state without restarting the browser:</p>
	                    <ul class="body-list"><li>If you are using Internet Explorer, you can use the "Clear SSL" button in the settings section: Contents (click Tools → Internet Options).</li></ul>
	                    <ul class="body-list"><li>If you use FireFox, you can use the menu: Options → Privacy → Clear all current history → select “Active Logins” → press button Clear Now.</li></ul>
	                </h:panelGrid>
	            </div>
	
	            <s:div rendered='#{!empty client.getPolicyUri()}'>
	                <p>
	                    <h:outputText value="#{messages['common.agreePolicy']}"/>
	                    <a target="_blank" href='#{client.getPolicyUri()}'>
	                        <h:outputText value="#{messages['common.privacyPolicy']}"/>
	                    </a>
	                </p>
	            </s:div>
	
	            <s:div rendered='#{!empty client.getTosUri()}'>
	                <p>
	                    <h:outputText value="#{messages['common.pleaseReadTheTos']}"/>
	                    <a target="_blank" href='#{client.getTosUri()}'>
	                        <h:outputText value="#{messages['common.termsOfService']}"/>
	                    </a>
	                </p>
	            </s:div>
	        </div>
	    </div>
    </ui:define>
</ui:composition>
